# PORT=3000
# MONGODB_URI=mongodb://localhost:27017/tongston_assessment
# OPENAI_API_KEY=your_openai_api_key_here
# OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
# AI_MODEL=openai/gpt-oss-120b:free
# AI_TIMEOUT_MS=15000
# MAX_RECOMMENDATIONS=5
# NODE_ENV=development

PORT=3000
MONGODB_URI=mongodb://localhost:27017/tongston_assessment
OPENAI_API_KEY=your_openai_api_key_here
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
AI_MODEL=openai/gpt-oss-120b:free
BLOB_READ_WRITE_TOKEN=your_vercel_blob_read_write_token_here
AI_TIMEOUT_MS=15000
MAX_RECOMMENDATIONS=5
NODE_ENV=production
BLOB_READ_WRITE_TOKEN=your_vercel_blob_read_write_token
BLOB_STORE_ID=your_vercel_blob+store_id
BLOB_WEBHOOK_PUBLIC_KEY=your_vercel_blob_webhook_public_key